<div class="card text-center" >
  <div class="card-body">
    <h5 class="card-title"><i class="fa fa-check" aria-hidden="true"></i>your appointment is confirmed</h5>
   

<section>
    <div class="container">
     
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"> Doctor:{{this.appointment.doctor}}</th>
      
      <th scope="col"> Date:{{this.appointment.Date}}</th>
      <th scope="col">Time:{{this.appointment.Time}}</th>
     
    </tr>
  </thead>
  
 
</table>
<div>
     Booking For:{{this.appointment.BookingFor}}
</div>
<div>
    <a href="/appointment" class="card-link">view Appointment</a>
</div>
    </div>
</section>






