/*login form*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (min-width: 1200px) {
  .card {
    width: 800px;
    margin: 0 auto;
  }
}

.facebook2,
.fa-facebook-f {
  background-color: #38528d;
  color: white;
  border-radius: 5px;
}

.facebook {
  background-color: #3b5999;
  color: white;
}

.google2,
.fa-google-plus-g {
  background-color: #c74535;
  color: white;
  border-radius: 5px;
}

.google {
  background-color: #d44837;
  color: white;
}

.dropdown-toggle,
.mayor {
  background-color: #131313;
  color: white;
}

.fa-angle-right:hover {
  background-color: transparent;
}

.account {
  background-color: #09bb53;
  color: white;
  border-radius: 5px;
}

.account:hover {
  color: white;
  /* background-color:#131313 ; */
}
.input-group-text,
.fa-user,
.fa-key,
.fa-envelope {
  background-color: white;
}

body {
  background-color: white;
}

.btn-text {
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

body {
  font-family: Arial;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 16px;
  border: 1px solid #ccc;
  border-top: none;
}
